
<div id="div-tabla">
  <table id="tabla" class="table caption-top">
    <caption>
      <h1 id="h1"> LIST OF USERS</h1>
    </caption>
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Finished</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mar</td>
        <td>Otto</td>
        <section class="example-section">
          <mat-checkbox class="example-margin">Si</mat-checkbox>
          <mat-checkbox class="example-margin">No</mat-checkbox>
        </section>
      </tr>
      <tr>
        <th scope="row">2</th>

        <td>Vale</td>
        <td>Arias</td>
        <section class="example-section">
          <mat-checkbox class="example-margin">Si</mat-checkbox>
          <mat-checkbox class="example-margin">No</mat-checkbox>
        </section>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Valeria</td>
        <td>Silva</td>
        <section class="example-section">
          <mat-checkbox class="example-margin">Si</mat-checkbox>
          <mat-checkbox class="example-margin">No</mat-checkbox>
        </section>
      </tr>

      <tr>
        <th scope="row">4</th>
        <td>Samanta</td>
        <td>Garcia</td>
        <section class="example-section">
          <mat-checkbox class="example-margin">Si</mat-checkbox>
          <mat-checkbox class="example-margin">No</mat-checkbox>
        </section>
      </tr>

      <tr>
        <th scope="row">5</th>
        <td>Ali</td>
        <td>Garcia</td>
        <section class="example-section">
          <mat-checkbox class="example-margin">Si</mat-checkbox>
          <mat-checkbox class="example-margin">No</mat-checkbox>
        </section>
      </tr>


    </tbody>
  </table>
</div>
