 
 body{ 
     margin-top: 1 0px;
 }

#h1{
    text-align: center;
}
.div{
    margin-top: 30px;
}
#tabla{
    
    margin-left: 300px;
    margin-top: 40px;

}

#table{
    margin-left: 200px;
text-align: center;
}
th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
    text-align: center;
    padding-right: 307px;

}

